.header{
    width: 100%;
    height: 60%;
    padding: 20px;
    background-color: rgb(135, 206, 235);

}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10%;
    transform: translate(-50%, -50%); /* Centers form */
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    
    border-radius: 10px;
    background-color: #4297b6;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
fieldset {
    background-color: rgb(204, 204, 255);
    border: none;
}

input, label {
    display: block;
    margin: 1em;
    border: none;
}