<!-- <a routerLink="/emp-form"></a>
<h4 ><a href="empForm" style="color: rgb(11, 130, 234);">EMPLOYEE FORM</a></h4> -->

<button mat-raised-button color="primary"  (click)="openPopUp()">EMPLOYEE FORM</button>

<div class="button-container">
    <button (click)="logout()" style="color: primary">Logout</button>
    </div>

<div style="padding: 5%;margin: auto;">
    <p style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;">EMPLOYEE DATA</p>
    


    
    
    <mat-table [dataSource]="emp" class="mat-elevation-z8">
        <ng-container matColumnDef="score1">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="score2">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="score3">
            <th mat-header-cell *matHeaderCellDef> date Of Joining </th>
            <td mat-cell *matCellDef="let user"> {{user.dateOfJoining}} </td>
        </ng-container>

        <ng-container matColumnDef="score4">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="score5">
            <th mat-header-cell *matHeaderCellDef> BaseSalary </th>
            <td mat-cell *matCellDef="let user"> {{user.baseSalary}} </td>
        </ng-container>

        <ng-container matColumnDef="score6">
            <th mat-header-cell *matHeaderCellDef> Bonus </th>
            <td mat-cell *matCellDef="let user"> {{user.bonus}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </mat-table>

    </div>
    
    