.heading{
    width: 100% ;
    text-align: center;
}

h1{
    text-align: center;
    padding: 20px;
}


h1::first-letter {
    font-size: 48px;
    font-weight: bold;
    color: white;
    color: rgb(27, 25, 25);

  }
  .first-letter {
    font-size: 48px;
    font-weight: bold;
    color: rgba(17, 16, 16, 0.966);
    color: white;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
  }
  
  .styled-heading {
    font-size: 32px;
    font-family: 'Arial', sans-serif;
    color:white;
    color:rgba(14, 12, 12, 0.975);
    text-align: center;
    padding: 1000px;
  }

  nav a {

    margin-right: 20px;
    text-decoration: none;
  }

  .navbar {
    background-color: #fffffff7; /* You can change this to any color */
    padding: 10px;
    color: rgb(15, 14, 14); /* Change text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo {
    height: 150px;
    padding: 20px;
    width: 150px;
   
    


     
  }


  
  
  