




    
      <!-- <div style="text-align: left;float: left;">
      <a href="emps" style="color: aliceblue;">EMPLOYEES</a>
      </div>

      <div style="text-align: left;float: left;">
       <a href="students" style="color: aliceblue;">STUDENTS</a>
      </div> -->

    
  
      <!-- <div style="text-align: left;float: left;">
      <a href="superadmin-forms" style="color: rgb(2, 2, 2);">SUPERADMIN</a>
        </div>
  
       

        <div style="text-align: left;float: left;">
          <a href="/superuser-form" style="color: rgb(2, 2, 2);">SUPERUSER</a>
          </div>   -->

          


          <!-- <div style="text-align: right;float:right;padding: 40px;">

            <a href="/student-form" style="color: aliceblue;"></a>
           </div> -->


    
            


  
<router-outlet></router-outlet>


