<a routerLink="/emp"></a>


<a routerLink="/student"></a>


<a routerLink="/Superadmin-forms"></a>
<a routerLink="/superadmin"></a>

<a routerLink="/Superuser"></a>
<a routerLink="/superuser-form"></a>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class= "text-bg-info p-3">
      <h1 class="styled -heading">
      <span class="first-letter">P</span>ayroll
      <span class="first-letter">M</span>anagement
      </h1>
    </div>
  
    
      <div style="text-align: left;float: left;">
      <a href="emps" style="color: aliceblue;">EMPLOYEES</a>
      </div>

      <div style="text-align: left;float: left;">
       <a href="students" style="color: aliceblue;">STUDENTS</a>
      </div>

      
  
      <div style="text-align: left;float: left;">
      <a href="superadmin" style="color: aliceblue;">SUPERADMIN</a>
        </div>
  
       

        <div style="text-align: left;float: left;">
          <a href="/superuser" style="color: aliceblue;">SUPERUSER</a>
          </div>  

          


           <div style="text-align: right;float:right;padding: 40px;">

            <a href="/student-form" style="color: aliceblue;"></a>
           </div>


    
            

</nav>
  
<router-outlet></router-outlet>


